services:  
  nodejs:
    build: ./dhas_nodejs/
    container_name: nodejs
    ports:
      - 8000:8000
    volumes:
      - ./dhas_nodejs/CSV:/usr/src/app/CSV

  quickbook_connect:
    build: ./quickbook_connect/
    container_name: quickbook_connect
    ports:
      - 8080:8080
    volumes:
      - ./dhas_nodejs/CSV:/app/quickbook_connect/target/CSV

  misa_connect:
    build: ./misa_connect/
    container_name: misa_connect
    ports:
      - 8800:8800
    volumes:
      - ./dhas_nodejs/CSV:/usr/src/app/CSV